body {
  font-family: Arial;
  text-align: center;
  background-color: #f4f4f4;
}

button {
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

#answers button {
  display: block;
  margin: 5px auto;
}